.openAuth{
    display: none;
}
#stockName::placeholder {
    color: white;
    opacity: 1;
}

#stockName:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

#stockName::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

#errorTags{
    color: #de4444; font-weight: 300; background-color: white; width: 100%; padding: 5px; margin-top: 20px;display: none;
    border-radius: 3px;
}